<div id="research" class="neat-container">
    <div class="sensor-block">
        <table class="sensor-table">
            <thead></thead>
            <tbody>
            <tr data-ng-controller="statusController" class="status">
                <td>Gateway status:</td>
                <td><img src="frontend/icons/{{status}}.png" alt="Ok" height="30" width="30"/></td>
            </tr>
            <tr data-ng-controller="temperatureController">
                <td>Temperature:</td>
                <td class="sensor-value">{{ temperatureValue }}&#8451;

                </td>
                <!--<tr data-ng-controller="temperatureController">
                        <td>Temperature Interval: </td>
                        <td>
                            <input name="myInput" class="data-input-field" ng-model="interval" required placeholder="{{placeholder}}">
                            <input type="button" class="save-button" value="save" ng-click="setTemperatureTime()" data-ng-init="initTemperatureTime()"/>
                        </td>
                </tr>-->
            <tr temperature-interval=""></tr>
            <tr data-ng-controller="temperatureController">
                <td>Temperature Control:</td>
                <td>
                    <input name="myInput" class="data-input-field" ng-model="settedTemperature" required>
                    <input type="button" class="save-button" ng-click="setHeaterTemperature()" value="save"/>
                </td>
            </tr>
            </tr>
            <tr data-ng-controller="temperatureController">
                <td>Last measurement:</td>
                <td>{{ temperatureDate | date: 'medium' }}</td>
            </tr>
            <tr>
                <td>Select the interval:</td>
                <td>
                    <label for="48radio">48 hours</label>
                    <input id="48radio" type="radio" ng-model="rc.tempInterval" value="48" ng-change="rc.setInterval()"/>

                    <label for="12radio">12 hours</label>
                    <input id="12radio" type="radio" ng-model="rc.tempInterval" value="12" ng-change="rc.setInterval()"/>

                    <label for="1radio">1 hour</label>
                    <input id="1radio" type="radio" ng-model="rc.tempInterval" value="1" ng-change="rc.setInterval()"/>

                    <label for="01radio">10 minutes</label>
                    <input id="01radio" type="radio" ng-model="rc.tempInterval" value="0.6" ng-change="rc.setInterval()"/>
                </td>
            </tr>
            </tbody>
        </table>
        <canvas class="chart chart-line"
                chart-data="rc.chartData"
                chart-labels="rc.chartLabels"
                chart-options="rc.chartOptions"
                chart-dataset-override="rc.chartDataSetOverride">
        </canvas>
        <br>
    </div>
</div>
