html {
    height: 100%;
}

body {
    font-family: 'Droid Sans Mono', monospace;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.column-1 {
    float: left;
    width: 25%;
    position: relative;
    left: 75%;
    overflow: hidden;
    padding: 15px;
}

.column-2 {
    float: left;
    width: 75%;
    position: relative;
    left: 75%;
    overflow: hidden;
    padding: 15px;
}

// Cards used in research page side panel. We add margin-top starting with the second instance, because these are meant to be 'stacked'
.chem-card {
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
    background-color: #E7F1EC;
    padding: 15px;

    &:not(:first-child) {
        margin-top: 30px;
    }
}

footer {
    height: 75px;
}

chem-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.neat-container {
    @include outer-container;
    min-height: 100%;
    margin: 0 auto 0;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}